@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    background-color: gainsboro;
}

h1
,h2
,p {
    text-align: center;
}

h2 {
    color: purple;
}

header
,section
,table {
    margin: 20px auto;
}

table {
    border: 2px solid purple;
    width: 700px;
}

thead tr th{
    background-color: pink;
    padding: 2px;
}

.code {
    background-color: antiquewhite;
    font-family: "Space Mono";
}

.tag {
    font-family: "Space Mono";
    letter-spacing: -1px;
}

tbody tr td
,tbody tr th{
    border-top: 1px solid purple;
}

.table {
    width: 700px;
}

.wide {
    width: 1000px;
}

.form {
    width: 1000px;
}

.code2 {
    background-color: rgb(190, 186, 186);
    border-radius: 5px;
    font-family: "Space Mono";
    font-size: smaller;
}